@font-face {
  font-family: "icones";
  src: url(../font/icones.ttf);
}

body {
  background-color: var(--primary-color);
  font-family: "Open Sans", "icones", sans-serif;
  color: var(--secundary-color);
}

.cabecalho__projetos,
.cabecalho__contato,
.cabecalho__inicio {
  display: none;
}

.cabecalho {
  align-items: center;
  background-color: var(--terciary-color);
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.cabecalho__menu i::before {
  color: white;
  content: "\e904";
  font-size: 24px;
}

.cabecalho__tema {
  height: 30px;
  width: 30px;
}

.cabecalho__logo {
  width: 40px;
}

.menu-lateral {
  background-color: var(--quintenary-color);
  display: flex;
  flex-direction: column;
  height: 35vh;
  width: 100vw;
  left: -100vw;
  position: absolute;
  transition: 0.25s;
}

.menu-lateral--ativo {
  left: 0vh;
  transition: 0.25s;
}

.menu-lateral__link {
  height: 64px;
  color: var(--secundary-color);
  padding: 15px 64px;
  display: flex;
  align-items: center;
}

.menu-lateral__link::before {
  content: "\e900";
  font-size: 24px;
  height: 24px;
  left: 24px;
  position: absolute;
  width: 24px;
}

.menu-lateral__link--ativo {
  color: var(--secundary-color);
  padding-left: 56px;
}

.menu-lateral__link--inicio::before {
  content: "\e902";
}
.menu-lateral__link--projetos::before {
  content: "\e90f";
}
.menu-lateral__link--contato::before {
  content: "\e909";
}

:root {
  --primary-color: #ffffff;
  --secundary-color: #000000;
  --terciary-color: #2b4058;
  --quarter-color: #ffffff;
  --quintenary-color: #ebebeb;
}
.dark-theme {
  --primary-color: #3b3b3b;
  --secundary-color: #ffffff;
  --terciary-color: #2e2e2e;
  --quarter-color: #2ecc71;
  --quintenary-color: #535353;
}

#icon:hover {
  cursor: pointer;
  transform: scale(1.06);
  transition: 0.5s;
}
.botao__insta {
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border: none;
  border-radius: 200px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: grid;
}
.icone_insta {
  color: #fff;
  font-size: 20px;
}
.botao__mapa {
  border: none;
  border-radius: 200px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: grid;
  background: rgb(87, 87, 87);
}
.icone_local {
  color: rgb(255, 91, 91);
  font-size: 20px;
}
.botao__email {
  border: none;
  border-radius: 200px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: grid;
  background: rgb(133, 133, 133);
}
.icone_email {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.botao__mundo {
  border: none;
  border-radius: 200px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: grid;
  background: var(--terciary-color);
}
.icone_mundo {
  color: var(--quarter-color);
  font-size: 20px;
}
.botao__insta:hover,
.botao__mundo:hover,
.botao__email:hover,
.botao__mapa:hover {
  transform: scale(1.075);
  transition: 0.7s;
}
.principal {
  display: grid;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  padding: 5px 0;
}

.formulario {
  text-align: left;
  display: grid;
  row-gap: 5px;
  align-items: center;
  justify-items: center;
  padding: 10px 0;
}

label {
  justify-self: flex-start;
  padding: 5px 20px;
}

#contato_titulo {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  color: rgb(179, 135, 250);
  font-size: 30px;
}
.input-padrao {
  border: 1px solid black;
  border-radius: 12px;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 70%;
  background-color: var(--quintenary-color);
}
#mensagem {
  resize: none;
}
.enviar {
  width: 60%;
  padding: 12px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
  transform: scale(1.02);
  transition: 0.75s;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.icones_brabos {
  display: inline-flex;
  flex-direction: row;
  list-style: none;
  padding-bottom: 10px;
}
@media (prefers-color-scheme: dark){
  :root{
    --primary-color: #3b3b3b;
    --secundary-color: #ffffff;
    --terciary-color: #2e2e2e;
    --quarter-color: #2ecc71;
    --quintenary-color: #535353;

}
.dark-theme {
  --primary-color: #ffffff;
  --secundary-color: #000000;
  --terciary-color: #2b4058;
  --quarter-color: #ffffff;
  --quintenary-color: #d9d9d9;
}
  }

@media screen and (min-width: 1024px) {
  body {
    display: grid;
    overflow-x: hidden;
  }
  @media (prefers-color-scheme: dark){
    :root{
      --primary-color: #3b3b3b;
      --secundary-color: #ffffff;
      --terciary-color: #2e2e2e;
      --quarter-color: #2ecc71;
      --quintenary-color: #535353;

  }
  .dark-theme {
    --primary-color: #ffffff;
    --secundary-color: #000000;
    --terciary-color: #2b4058;
    --quarter-color: #ffffff;
    --quintenary-color: #d9d9d9;
  }
    }
  .cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: auto;
    align-items: center;
  }

  .cabecalho__menu {
    display: none;
  }

  .cabecalho__botoes-desktop {
    display: inline-flex;
    grid-auto-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: end;
    column-gap: 30px;
  }

  .cabecalho__projetos,
  .cabecalho__contato {
    display: inline-block;
    grid-template-columns: 1fr;
    color: white;
  }

  .cabecalho__projetos:hover,
  .cabecalho__contato:hover {
    transform: scale(1.06);
    transition: 0.5s;
    color: var(--quarter-color);
  }

  .principal {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  h2 {
    text-align: center;
    padding: 5px 0;
  }

  .formulario {
    text-align: left;
    display: grid;
    row-gap: 5px;
    align-items: center;
    justify-items: center;
    padding: 10px 0;
  }

  label {
    justify-self: flex-start;
    padding: 5px 20px;
  }

  #contato_titulo {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    color: rgb(179, 135, 250);
    font-size: 30px;
  }
  .input-padrao {
    border: 1px solid black;
    border-radius: 12px;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 90%;
    background-color: var(--quintenary-color);
  }
  #mensagem {
    resize: none;
  }
  .enviar {
    width: 60%;
    padding: 12px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
  }

  .enviar:hover {
    background: darkorange;
    transform: scale(1.02);
    transition: 0.75s;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }

  .icones_brabos {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    padding-bottom: 10px;
  }

  .ancora__maker {
    color: #23e546;
  }

  #escrito__footer {
    font-size: 12px;
    color: White;
  }
  .botao__insta {
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    border: none;
    border-radius: 200px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: grid;
  }
  .icone_insta {
    color: #fff;
    font-size: 20px;
  }
  .botao__mapa {
    border: none;
    border-radius: 200px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: grid;
    background: rgb(87, 87, 87);
  }
  .icone_local {
    color: rgb(255, 91, 91);
    font-size: 20px;
  }
  .botao__email {
    border: none;
    border-radius: 200px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: grid;
    background: rgb(133, 133, 133);
  }
  .icone_email {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
  .botao__mundo {
    border: none;
    border-radius: 200px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: grid;
    background: var(--terciary-color);
  }
  .icone_mundo {
    color: var(--quarter-color);
    font-size: 20px;
  }
  .botao__insta:hover,
  .botao__mundo:hover,
  .botao__email:hover,
  .botao__mapa:hover {
    transform: scale(1.075);
    transition: 0.7s;
  }
}
/******************************************************************************
**                                                                           **
**           Developed by Emanuel Firmino & Gabriel Cruz                     **
**                                                                           **
*******************************************************************************/
