:root {
  --primary-color: #3b3b3b;
  --secundary-color: #ffffff;
  --terciary-color: #2e2e2e;
  --quarter-color: #2ecc71;
  --quintenary-color: #535353;
  --senary-color: #2ecc71;
}
.dark-theme {
  --primary-color: #ffffff;
  --secundary-color: #000000;
  --terciary-color: #2b4058;
  --quarter-color: #ffffff;
  --quintenary-color: #d9d9d9;
  --senary-color: #2b4058;
}

/******************************************************************************
**                                                                           **
**           Developed by Emanuel Firmino & Gabriel Cruz                     **
**                                                                           **
*******************************************************************************/
